.path-faq {
  #block-sandstheme-page-title {
    display: none;
  }
  #frontbanner-questions {
    display: none;
  }
  #block-sandstheme-content {
    .views-row {
      .views-field-info {
        &:before {
          content: 'Q:';
          font-family: $accent-font;
          font-weight: bold;
          margin-right: 5px;
        }
        span {
          font-weight: bold;
        }

      }
      .views-field-body {
        p {
          &:before {
            content: 'A:';
            font-family: $accent-font;
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }
  }
}