div.is-visible {
  z-index: 12;
}

#right-off-canvas-menu,
#left-off-canvas-menu {
  background: $primary-dark;
  z-index: 999;
  .close-button {
    top: 13px !important;
    span {
      font-size: 34px;
    }
  }
  button {
    z-index: 25;
    color: #fff;
  }
  img {
    max-width: 100px;
    height: auto;
    position: relative;
    left: 33%;
    margin-top: 12%;
  }
  .menu {
    flex-direction: column;
    color: white;
    align-items: flex-start;
    margin-top: 4em;
    li {
      list-style-image: none;
      list-style-type: none;
      width: 100%;
      border-top: 1px solid grey;
      background: $primary-dark;
      margin: 0;
      padding: 0 !important;
      &:hover,
      &:active {
        background: $primary-light !important;
      }
      a {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 1em;
        padding-bottom: 1em;
      }
      &:last-child a {
        border-bottom: 1px solid grey;
      }
    }
  }

}